name: Nightly MotorCAD check

on:
  workflow_dispatch:
  schedule:  # UTC at 0400
    - cron:  '0 4 * * *'

env:
  PACKAGE_NAME: ansys-motorcad-core
  PACKAGE_NAMESPACE: ansys.motorcad.core
  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

permissions:
  packages: read

jobs:

  tests:
    name: Tests and coverage
    runs-on: [self-hosted, pymotorcad]
    strategy:
      matrix:
        os: [windows-latest]
        python-version: ['3.7', '3.8', '3.9', '3.10']
      fail-fast: false

    steps:
      - uses: actions/checkout@v3

      - name: Ensure Motor-CAD not open
        run: taskkill /IM Motor-CAD_2023_1_1.exe /F /FI "STATUS eq RUNNING"

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip tox tox-gh-actions
          
      - name: Test with tox
        run: tox -e py310-coverage  